/Guia6_Extra1_Cancion/nbproject/private/
/Guia6_Extra1_Cancion/build/
/Guia6_Extra2_Puntos/nbproject/private/
/Guia6_Extra2_Puntos/build/
/Guia6_Extra3_Juego/nbproject/private/
/Guia6_Extra3_Juego/build/
/Guia6_Extra4_Cuenta/nbproject/private/
/Guia6_Extra4_Cuenta/build/
/Guia6_Extra5_Empleado/nbproject/private/
/Guia6_Extra5_Empleado/build/
/Guia6_Extra6_Rectangulo/nbproject/private/
/Guia6_Extra6_Rectangulo/build/